@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-slate {
    @apply bg-slate-900 border border-slate-800 rounded-[10px] p-4 flex flex-col gap-3;
  }
  .section-headtext {
    @apply text-2xl mb-8 text-slate-200 uppercase tracking-wider;
  }
  .section-subheader {
    @apply text-lg text-secondary uppercase tracking-wider;
  }
  .link-icon {
    @apply text-slate-400 transition hover:drop-shadow-white-md hover:scale-110 hover:text-slate-100;
  }
  .hamburger {
    @apply flex flex-col gap-1 cursor-pointer z-50
  }
  .line {
    @apply h-1 w-7 block transition-all duration-300 bg-slate-300;
  }
  .button-shadow {
    @apply transition duration-300 shadow-sm shadow-slate-400 hover:shadow-slate-100;
  }
  .button-passion {
    @apply font-suse pointer-events-auto py-2 px-3 lg:px-5 section-subheader text-sm lg:text-base
            transition duration-300 border-slate-200 border-b-2 hover:text-blue-200 hover:bg-blue-900 
            text-secondary uppercase tracking-wider;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  --primary: @apply color-primary;
  --border-grey: #969696;
  --white-bg: #ececec;
  --blue-bg: #00478d;
  --blue-bg2: #00cfda;
  --white-bg2: #d7c5e1;
  --purple-bg: #4500da;
  --purple-bg2: #6b07a4;
  --linear-metal: linear-gradient(to bottom, #888888, #f9f9f9, #888888);
}

img {
  filter: brightness(0.95)
}

.metalic {
  background: var(--linear-metal);
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/* /////////////////////////////////////// */
.circle-ring i {
  position: absolute;
  inset: 0;
  border: 1px solid var(--border-grey);
  transition: 0.5s;
}

.circle-ring i:nth-child(1) {
  border-radius: 38% 60% 57% 37% / 41% 44% 56% 59%;
  animation: rotate 8s linear infinite;
  border: 5px solid var(--blue-bg);
  filter: drop-shadow(0 0 20px var(--blue-bg));
}
.circle-ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: rotate 14s linear infinite;
  border: 5px solid var(--white-bg);
  filter: drop-shadow(0 0 20px var(--white-bg));
}
.circle-ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: rotate-reverse 16s linear infinite;
  border: 5px solid var(--blue-bg2);
  filter: drop-shadow(0 0 20px var(--blue-bg2));
}

.circle-ring.purple i:nth-child(1) {
  border: 5px solid var(--white-bg2);
  filter: drop-shadow(0 0 20px var(--white-bg2));
}

.circle-ring.purple i:nth-child(2)  {
  border: 5px solid var(--purple-bg);
  filter: drop-shadow(0 0 20px var(--purple-bg));
}

.circle-ring.purple i:nth-child(3) {
  border: 5px solid var(--purple-bg2);
  filter: drop-shadow(0 0 20px var(--purple-bg2));
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* /////////////////////////////////////// */
div[data-clickbounce='1'] {
  transform-origin: center 20%;
  animation: clickBounce .975s cubic-bezier(.215,.61,.355,1) backwards;
}

@keyframes clickBounce {
  5% {
      transform: scale(1.075,.85)
  }

  20% {
      transform: scale(.85,1.05)
  }

  50% {
      transform: scale(1.025,.9)
  }

  0%,to {
      transform: scale(1)
  }
}

/* /////////////////////////////////////// */

.loader hr {
  border: 0;
  margin: 0;
  width: 20%;
  height: 20%;
  position: absolute;
  border-radius: 50%;
  animation:spin 2s ease infinite
}

.loader :first-child {
  @apply bg-blue-300;
  animation-delay: -1.5s
}
.loader :nth-child(2) {
  @apply bg-blue-400;
  animation-delay: -1s;
}
.loader :nth-child(3) {
  @apply bg-blue-600;
  animation-delay: -0.5s;
}
.loader :last-child {
  @apply bg-blue-800;
}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
/* /////////////////////////////////////// */
.animate-wipe {
  animation: wipe 3s linear infinite 0s;
}

.shimmer {
  --shimmer-hue-1: 213deg;
  --shimmer-hue-2: 248deg;
  position: absolute;
  inset: -39px;
  border-radius: inherit;
  mix-blend-mode: color-dodge;
  mix-blend-mode: plus-lighter;
  pointer-events: none;
  mask-image: linear-gradient(
    90deg, transparent 15%, black 45%, black 55%, transparent 85%
  );
  box-shadow: inset 0px 0px 0px 0px #0f172a;
  mask-size: 0%;
  mask-position: 345% center;
}
/* .shimmer[data-index='0'] {
  animation-delay: 0s;
}

.shimmer[data-index='2'] {
  animation-delay: 2.2s;
}

.shimmer[data-index='4'] { 
  animation-delay: 4.4s;
} */

.shimmer::before,
.shimmer::after {
  transition: all 0.5s ease;
  opacity: 1;
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: 33px;
}
.shimmer::before {
  box-shadow: 0 0 3px 3px hsl(var(--shimmer-hue-1) 20% 95%),
              0 0 9px 5px hsl(var(--shimmer-hue-1) 20% 80%),
              0 0 13px 6px hsl(var(--shimmer-hue-2) 40% 60%),
              0 0 22px 6px hsl(var(--shimmer-hue-2) 20% 40%);
  z-index: 1;
}
/* .shimmer::after {
  box-shadow: inset 0 0 0 1px hsl(var(--shimmer-hue-2) 70% 95%),
        inset 0 0 3px 1px hsl(var(--shimmer-hue-2) 100% 80%),
        inset 0 0 9px 1px hsl(var(--shimmer-hue-2) 100% 70%);
  z-index: 2;
} */

.shimmer.pulse {
  mask-image: none;
  animation: pulse 3s ease infinite both;
}

@keyframes wipe {
  0% {
    mask-size: 200% 200%;
    mask-position: 345% center;
  }
  100% { 
    mask-size: 200% 200%;
    mask-position: 155% center;
  }
}

@keyframes pulse {
  0%, 90%, 100% {
      opacity: 0;
  }
  20%, 30% {
      opacity: 0.6;
  }
}

/* /////////////////////////////////////// */

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}